<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>football-zone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="stomp.js"></script>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Football Players List</h3>
    <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3" >Add Football Player</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Team</th>
            <th>Country</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="players">
        <tr class="table" th:each="player:${allPlayersList}">
            <td th:text="${player.name}"></td>
            <td th:text="${player.surname}"></td>
            <td th:text="${player.gender}"></td>
            <td th:text="${player.birthdate}"></td>
            <td th:text="${player.team.getName()}"></td>
            <td th:text="${player.country.getName()}"></td>
            <td><a th:href="@{/update(id=${player.id})}" class="btn btn-primary">Update</a> </td>
            <td><a th:href="@{/delete/{id}(id=${player.id})}" class="btn btn-danger">Delete</a> </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    const socket = new SockJS('/gs-guide-websocket');
    const stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        stompClient.subscribe('/topic/send-player', function (player) {
            addPlayer(JSON.parse(player.body))
        });
    });

    function addPlayer(player) {
        $("#players").append(
            '<tr class="table">\n' +
            '            <td>' + player.name + '</td>\n' +
            '            <td>' + player.surname + '</td>\n' +
            '            <td>' + player.gender + '</td>\n' +
            '            <td>' + player.birthdate + '</td>\n' +
            '            <td>' + player.teamName + '</td>\n' +
            '            <td>' + player.countryName + '</td>\n' +
            '            <td><a href="/update?id=' + player.id + '" class="btn btn-primary">Update</a> </td>\n' +
            '            <td><a href="/delete/' + player.id + '" class="btn btn-danger">Delete</a> </td>\n' +
            '        </tr>'
        );
    }
</script>
</body>
</html>